body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

form textarea {
  width: 100%;
  padding: 15px;
}

p {
  width: 80%;
  color: darkblue;
  border: 1px solid #ccc;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: left;
}